{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credit Consultation</title>
    <link rel="stylesheet" href="{% static 'css/consultar_credito.css' %}" />
  </head>
  <body>

    <header>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#">Credit Consultation</a></li>
        </ul>
      </nav>
    </header>

    <div class= "geral">
    <div class="container">
      <div class="form-container">
        <h1>Credit Consultation</h1>
        <form method="POST">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn">Consult</button>
        </form>
      </div>
      {% if resultado %}
      <div class="resultado">
        <p>{{ resultado }}</p>
      </div>
      {% endif %}
    </div>
     <div/>
    <footer>
      <p>&copy; 2024 Easy Credit</p>
    </footer>
  </body>
</html>
